#root {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: large;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main{
    border-radius: 24px;
    overflow: hidden;
    background-color: gainsboro;
    padding: 25px;
    margin: 100px 0px 0px 0px;
}

.card-container {
  display: center;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.card:hover {
  background-color: #f0f0f0;
}

card-detail-container {
   color: red;
   display: center;
   flex-wrap: wrap;
 }